<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Child first name</th>
            <th scope="col">Child middle Name</th>
            <th scope="col">Birthday (yyyy-mm-dd)</th>
        </tr>
    </thead>
    <tbody>
        {{ form_c.management_form }}
        {% for form in form_c %}
        <tr>
            <td>{% render_field form.firstName class="form-control" %}</td>
            <td>{% render_field form.lastName class="form-control" %}</td>
            <td>{% render_field form.birthday class="form-control date-picker" placeholder="yyyy-mm-dd" %}</td>
        <tr>
            {% endfor %}
    </tbody>
</table>
------------------------------------------------------------------